.container-principal{
  background: url("../../public/fotologin.jpg") no-repeat center center/cover;
  margin-top: 2px;
}


/* Fundo neutro e elegante */
.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

/* Caixa do login */
.login-container {
  margin-top: 50px;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Título */
.login-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 70px;
  margin-top: 10px;
  align-items: flex-start;
  margin-right: 220px;
}

/* Mensagem de descrição */
.mini-container-p1 p {
  font-size: 1rem;
  color: #1f1f1f;
  margin-top: 90px;
}

/* Input estilizado */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

/* Botão de login */
.btao-entrar {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btao-entrar:hover {
  background: #0056b3;
}

/* Mensagem de erro */
.error-message {
  color: #d9534f;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/* Link para voltar */
.btnn-voltar {
  margin-top: 20px;
}

.botao-voltar {
  text-decoration: none;
  color: #f0f2f3;
  font-weight: bold;
  transition: 0.3s;
  background-color: #d9534f;
  padding: 10px;
  border-radius: 10px;
}

