.historico-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 285px;
  margin-left: 35px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.filtro-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  
}

.filtro-data input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.btn-limpar {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mensagem {
  text-align: center;
  font-size: 16px;
  color: #888;
}
.card-header{
 
  margin-bottom: -17px;
  height: 90px;
  
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  cursor: pointer; /* Torna o card clicável */
  transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.card:hover {
  transform: scale(1.05); /* Aumenta ligeiramente o card ao passar o mouse */
}

.card-content {
  display: none; /* Esconde o conteúdo completo inicialmente */
  padding-top: 10px;
}

.card.open .card-content {
  display: block; /* Exibe o conteúdo quando o card for clicado */
}

.container-paragrafos {
  background-color: #f0f0f0;
  width: 300px;
}

.container-paragrafos p {
  font-size: 20px;
  
}

.imagem-checklist {
  width: 200px;
}

.flash-message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 16px;
}

.flash-message.success {
  background-color: #4caf50;
  color: white;
}

.flash-message.error {
  background-color: #f44336;
  color: white;
}
